1. What are the characteristics of the tuples? Is tuple immutable?

- Tuples are immutable, ordered and indexed

 - Yes tuple is immutable

***

2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

- Two tuple methods in Python are COUNT and INDEX

In [1]:
t = (1,3,8,2,1,5,3,9,2,2)

##### COUNT

In [2]:
t.count(2)

3

##### INDEX

In [4]:
t.index(5)

5

- Tuples have only two in-built methods as compared to lists because tuples are **immutable**

***

3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.

&emsp;&emsp; List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

* Sets don't allow duplicate Items

In [7]:
list1 = [1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]
list1

[1,
 1,
 1,
 2,
 1,
 3,
 1,
 4,
 2,
 1,
 2,
 2,
 2,
 3,
 2,
 4,
 3,
 1,
 3,
 2,
 3,
 3,
 3,
 4,
 4,
 1,
 4,
 2,
 4,
 3,
 4,
 4]

In [9]:
s = set(list1)
s

{1, 2, 3, 4}

***

4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

In [13]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [14]:
s1.update(s2)

In [15]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

* **union() returns the union of sets as a new set, update() works same as union but it is inplace and returns None i.e. it updates the set on which this method is called**

***

5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

* Dictionary is one of the collections in Python, which stores data in Key and Value pairs

In [18]:
d = {"name":"Teja","age":22}
d

{'name': 'Teja', 'age': 22}

* From Python Version 3.7 dictionaries are Ordered

***

6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

* Yes, we can create a nested dictionary

In [19]:
nest_dict  = {"address":{"place":"andhrapradesh"}}
nest_dict

{'address': {'place': 'andhrapradesh'}}

***

7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

&emsp;&emsp; dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [20]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [22]:
dict1.setdefault("named topics",['Python','Machine Learning','Deep Learning'])
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'named topics': ['Python', 'Machine Learning', 'Deep Learning']}

***

8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.

&emsp; dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

* Three view objects in dictionaries are **Keys, Values and Items**

In [23]:
 dict2 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
 dict2

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [24]:
dict2.keys()

dict_keys(['Sport', 'Teams'])

In [25]:
dict2.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [27]:
dict2.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

***